<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new City</title>
</head>
<body>
<h1>Thêm Thành Phố</h1>
<form action="/create" method="post" th:object="${newcity}">
    <table>
        <tr>
            <td>
                Tên
            </td>
            <td>
                <input type="text" th:field="*{name}">
            </td>
        </tr>
        <tr>
            <td>
                Quốc Gia
            </td>
            <td>
                <select th:field="*{country}"  >
                    <option th:each="ctry:${allCountry}"  th:value="${ctry.getId()}" th:text="${ctry.getName()}"></option>

                </select>
            </td>
        </tr>
        <tr>
            <td>
                Diện Tích
            </td>
            <td>
                <input type="number" th:field="*{square}">
            </td>
        </tr>
        <tr>
            <td>
                Dân số
            </td>
            <td>
                <input type="number" th:field="*{population}">
            </td>
        </tr>
        <tr>
            <td>
                GPD
            </td>
            <td>
                <input type="number" th:field="*{gdp}">
            </td>
        </tr>
        <tr>
            <td>
                Mô tả
            </td>
            <td>
                <textarea  th:field="*{description}"></textarea>
            </td>
        </tr>
        <tr>
            <td><button type="submit">Nhập Thành Phố</button></td>
            <td>
                <a href="/">
                    <button type="button">Thoát</button>
                </a>
            </td>
        </tr>

    </table>
    <div>
        <th:block th:if="${mess}">
            <div class="fs-25 t-center" style="color: green" th:text="${mess}"></div>
        </th:block>
    </div>
    <div  th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <div  th:if="${#fields.hasErrors('square')}" th:errors="*{square}">Name Error</div>
    <div  th:if="${#fields.hasErrors('population')}" th:errors="*{population}">Name Error</div>
    <div  th:if="${#fields.hasErrors('gdp')}" th:errors="*{gdp}">Name Error</div>


</form>
</body>
</html>